.chat-box {
  position: fixed;
  border: none;
  top: 5vh;
  right: 0;
  height: 95vh;
  width: 25vw;
  z-index: 50;
  transition: all 0.5s ease;
  overflow-y: auto;
  &.chat-off-bottom {
    transform: translateY(95vh);
  }
  &.chat-off-side {
    transform: translateX(25vw);
  }
}
