.root-dir {
  width: 40vw;
  height: 40vh;
  background-color: white;
}

.file-slot {
  background-color: white;
  display: flex;
  &:hover {
    background-color: lightgray;
  }
  &.highlighted {
    background-color: green;
  }
}

.context-select {
  background-color: white;
  display: flex;
  &:hover {
    background-color: lightgray;
  }
}
