.root-dir {
  width: 40vw;
  height: 40vh;
  background-color: white;
}

.file-slot {
  background-color: white;
  display: flex;
  &:hover {
    background-color: lightgray;
  }
  &.highlighted {
    background-color: green;
  }
}

.context-select {
  position: absolute;
  background-color: white;
  display: inline;
}

.context-select-item {
  &:hover {
    background-color: lightgray;
  }
}
