.root-dir {
  width: 40vw;
  height: 40vh;
  background-color: rgb(238, 238, 238);
}

.file-slot {
  font-family: Courier New, Courier, monospace;
  background-color: rgb(238, 238, 238);
  display: flex;
  &:hover {
    background-color: lightgray;
  }
  &.highlighted {
    background-color: rgb(87, 87, 255);
  }
}

.context-select {
  position: absolute;
  background-color: white;
  display: inline;
}

.context-select-item {
  margin: 3px;
  &:hover {
    background-color: lightgray;
  }
  h3 {
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    padding: 1px;
  }
}

.expand-button {
  width: 11px;
  height: 11px;
  display: grid;
  place-items: center;
}

.file-icon {
  transition: all 0.2s ease;
  width: 13px;
  height: 13px;
  margin-top: 2px;
  &.angle-right {
    transform: rotate(-90deg);
  }
  &.angle-down {
    transform: rotate(0deg);
  }
  &.pic {
    margin-top: 3.5px;
    height: 10px;
  }
}
