.projects {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: blue;
  height: 37vh;
  width: 21rem;
  border-radius: 10px;
  margin-top: 8vh;
  h1 {
    text-align: center;
    padding: 0.5rem;
  }
  h3 {
    margin: 1rem;
  }
  img {
    width: 5rem;
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 55%;
}
