.prof-page {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 95vh;
  width: 75vw;
  padding-bottom: 50px;
  transition: all 0.5s ease;
  &.music-min {
    transform: translateY(-95vh);
  }
  &.chat-min {
    width: 100vw;
  }
}

.bottom-app {
  display: flex;
  justify-content: space-between;
}

.sidebar-spacer {
  width: 12vw;
  height: 100px;
}

.projects {
  margin-top: 2vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  color: rgb(46, 46, 46);
}

.intro-header {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-right: -0.2vw;
  margin-top: 3vh;
  transition: all 0.5s ease;
  text-align: center;
  width: 52.5rem;
  height: 13vh;
  h1 {
    margin-top: 0px;
    margin-left: 16vw;
    font-size: 44px;
  }
  h2 {
    font-size: 16px;
    font-weight: normal;

    margin-left: 18.5vw;
  }
  img {
    transition: all 0.5s ease;
    &.img-min {
      transform: translateY(85vh);
    }
    &.img-left {
      left: 40.8vw;
    }
    position: absolute;
    left: 49.5vw;
    top: 15.5vh;
    border: 1px solid #2e2e2e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.chat-spacer {
  width: 11vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: all 0.5s ease;
  &.spacer-min {
    width: 3vw;
  }
}

.project-card {
  display: grid;
  place-items: center;
  grid-template-columns: 3;
  grid-template-rows: 6;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid rgb(46, 46, 46);
  height: 50vh;
  width: 23rem;
  border-radius: 10px;
  margin-top: 7vh;
  margin-bottom: 0vh;
  &:hover {
    background-color: rgba(177, 177, 177, 0.07);
  }
  &.local {
    cursor: pointer;
  }
  &.ext {
  }
  &.active {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 4px 9px, rgba(0, 0, 0, 0.46) 0px 4px 9px;
    background-color: rgba(177, 177, 177, 0.15);
  }

  h1 {
    grid-row: 1;
    text-align: center;
    padding: 2rem;
    font-size: 24px;
    font-weight: 600;
    pointer-events: none;
  }
  h3 {
    margin: 1rem;
    font-size: 16px;
    font-weight: normal;
    padding: 1.5rem;
    pointer-events: none;
  }
  img {
    width: 7rem;
    grid-row: 2;
    pointer-events: none;
  }
}

.proj-links {
  grid-row: 5;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  img {
    max-width: 1.5rem;
    padding-right: 3px;
  }
  h4 {
    text-decoration: underline;
    font-size: 13px;
    font-weight: normal;
  }
}

.link-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
  :hover {
    cursor: pointer;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
  column-gap: 6rem;
}

.file-tree {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  max-height: 40vh;
  &.tree-hidden {
    margin: 0;
    padding: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
