.projects {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: rgb(46, 46, 46);
}
.project-card {
  display: grid;
  place-items: center;
  grid-template-columns: 3;
  grid-template-rows: 6;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid rgb(46, 46, 46);
  height: 50vh;
  width: 23rem;
  border-radius: 10px;
  margin-top: 8vh;
  &.local {
    :hover {
      cursor: pointer;
    }
  }

  h1 {
    grid-row: 1;
    text-align: center;
    padding: 2rem;
    font-size: x-large;
    font-weight: 600;
    pointer-events: none;
  }
  h3 {
    margin: 1rem;
    font-size: medium;
    font-weight: 500;
    padding: 1.5rem;
    pointer-events: none;
  }
  img {
    width: 7rem;
    grid-row: 2;
    pointer-events: none;
  }
}

.external-proj {
  grid-row: 5;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  img {
    max-width: 1.5rem;
    padding-right: 3px;
  }
  h4 {
    text-decoration: underline;
    font-size: small;
    font-weight: normal;
  }
}

.link-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 85%;
  column-gap: 3rem;
}
