.prof-page {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 95vh;
  width: 75vw;
  transition: all 0.5s ease;
  &.music-min {
    transform: translateY(-95vh);
  }
  &.chat-min {
    width: 100vw;
  }
}

.bottom-app {
  display: flex;
  justify-content: space-between;
}

.sidebar-spacer {
  width: 12vw;
  height: 100px;
}

.projects {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  color: rgb(46, 46, 46);
  transition: all 0.5s ease;
}

.intro-header {
  display: grid;
  place-items: center;
  padding: 10px;
  margin-right: 0.1vw;
  margin-top: 6vh;
  margin-bottom: 2vh;
  transition: all 0.5s ease;
  cursor: pointer;
  text-align: center;
  width: 43.5vw;
  height: 11.5vh;
  border-radius: 10px;
  border: 1px solid rgb(46, 46, 46);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  &.header-hidden {
    opacity: 0;
  }
  .intro-top-row {
    display: flex;
  }
  .intro-bottom-row {
    display: flex;
    margin-bottom: 10px;
  }
  .mitten {
    margin-left: 10px;
    margin-top: 5px;
    transform: rotate(20deg);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 32px;
  }
  h2 {
    font-size: 16px;
    font-weight: normal;
  }
  img {
    position: relative;
    bottom: 0px;
    border: 1px solid #2e2e2e;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.chat-spacer {
  width: 10vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: all 0.5s ease;
  &.spacer-min {
    width: 3vw;
  }
}

.project-card {
  display: grid;
  place-items: center;
  grid-template-columns: 3;
  grid-template-rows: 8;
  background: transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid rgb(46, 46, 46);
  height: 50vh;
  width: 19.2vw;
  min-width: 19rem;
  border-radius: 10px;
  margin-top: 6vh;
  margin-bottom: 2vh;
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
  &.local {
    cursor: pointer;
  }

  &.active {
    box-shadow: rgba(0, 0, 0, 0.32) 0px 4px 9px, rgba(0, 0, 0, 0.46) 0px 4px 9px;
    background-color: rgba(177, 177, 177, 0.15);
  }

  h1 {
    grid-row: 1;
    text-align: center;
    padding: 2rem;
    font-size: 24px;
    font-weight: 600;
    pointer-events: none;
  }
  h3 {
    margin: 1rem;
    font-size: 16px;
    font-weight: normal;
    padding: 1.5rem;
    pointer-events: none;
  }
  img {
    width: 7rem;
    grid-row: 2;
    pointer-events: none;
  }
}

.proj-links {
  grid-row: 5;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  img {
    max-width: 1.5rem;
    padding-right: 3px;
  }
  h4 {
    &:hover {
      text-decoration: underline;
    }

    font-size: 13px;
    font-weight: normal;
  }
}

.link-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
  :hover {
    cursor: pointer;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60vw;
  column-gap: 6rem;
  margin-top: 0;
  padding-top: 0;
  transition: all 0.5s ease;
}

.f-tr {
  font-family: Courier New, Courier, monospace;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  min-height: 20vh;
  min-width: 15vw;
  overflow: auto;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  &.tree-hidden {
    margin: 0;
    padding: 0;
    max-height: 0;
    min-height: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}

.entry {
  font-family: Courier New, Courier, monospace;
  display: flex;
  cursor: pointer;

  .plus-minus {
    border: 1px solid black;
    color: black !important;
    background: white;
    width: 0.7rem;
    height: 0.7rem;
    display: grid;
    place-content: center;
    position: relative;
    top: 2px;
  }

  &.highlight {
    background: blue !important;
  }

  &:hover {
    background: black;
    color: white;
  }
}

.custom-context {
  width: 7rem;
  background: rebeccapurple;
  &.context-hide {
    opacity: 0;
    visibility: hidden;
  }
}

.context-btn {
}
