.toolbar-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px 30px rgb(182, 182, 182);
  transition: all 0.5s ease;
  svg {
    cursor: pointer;
  }
  &.music-min {
    transform: translateY(-95vh);
  }
  img {
    width: 4vh;
    border-radius: 50%;
    margin-right: 15px;
  }
}
.img-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s;
  &.img-hidden {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
  }
}

.min-max {
  padding-left: 15px;
}
.play-pause {
  opacity: 1;
  transition: opacity 0.5s;
  pointer-events: auto;

  &.play-pause-hidden {
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
  }
}
