.table-properties {
  display: flex;
}

.table-title {
  border: 1px solid black;
  padding: 3px;
  background-color: beige;
}

.table-row {
  display: flex;
}

.table-entry {
  border: 1px solid black;
  padding: 3px;
}
