* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  z-index: 4;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.app-holder {
  display: inline;
  max-height: 200vh;
  overflow-y: hidden;
  height: 200vh;
  transition: all 0.5s ease;
  &.music-min {
    transform: translateY(-95vh);
  }
}

.music-page {
  transition: all 0.5s ease;
  &.music-min {
    transform: translateY(-95vh);
    transition: all 0.5s ease;
  }
}

.songAndPlayer {
  display: inline;
}

.song-container {
  transition: all 0.5s ease;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  img {
    width: 20%;
    border-radius: 50%;
    padding: 5%;
  }
  h1 {
    color: rgb(46, 46, 46);
    padding: 0.1%;
    margin-bottom: 10px;
  }
  h2 {
    color: rgb(116, 116, 116);
  }
}

ul {
  list-style-type: none;
}

.side-bar {
  position: fixed;
  left: 5.5vw;
  top: 10vh;
  color: black;
  z-index: 100;
  transition: all 0.5s ease;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 5px;

  &.side-min {
    transform: translateY(95vh);
  }
  li {
    margin-bottom: 10px;
  }
}

.chatbox-max-button {
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: calc(25vw + 6px);
  transform: scaleY(2);
  font-weight: bold;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.5s ease;
  padding-left: 4px;
  padding-right: 3px;
  padding-top: 10px;
  padding-bottom: 10px;

  background: white;
  border: 1px solid #cacbcd;
  border-left: 2px solid #cacbcd;
  border-right: 2px solid #cacbcd;
  color: #cacbcd;
  &.chat-min {
    transform: scaleY(2) translateX(25vw);
  }
  &.music-max {
    transform: scaleY(2) translateY(95vh);
  }
}

@import "./player";
@import "./library";
@import "./toolbarPlayer";
@import "./connectFour";
@import "./Projects";
@import "./chatBox";
