* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.app-holder {
  display: inline;
  max-height: 200vh;
  height: 200vh;
  transition: all 0.5s ease;
  &.music-min {
    transform: translateY(-95vh);
  }
}

.music-page {
  transition: all 0.5s ease;
  &.music-min {
    transform: translateY(-95vh);
    transition: all 0.5s ease;
  }
}

.songAndPlayer {
  display: inline;
}

@import "./song";
@import "./player";
@import "./library";
@import "./libraryButton";
@import "./toolbarPlayer";
@import "./profilePage";
@import "./connectFour";
@import "./fileTree";
@import "./Projects";
